.container
  %h1
    = t('app_name')
    %span.alpha Alpha
  %h3 Open Technology For Voter List Integrity Assurance    

  #description
    =t('app_description').html_safe
  
  
  #import_stats
    %p= t('app_stats', import_count: @count, unique_state_count: @unique_state_count, record_count: @record_count)
  
  .row
    .col-xs-12.col-md-6#new-import
      %h3 Upload new voter records file    
      = render 'form'
    .col-xs-12.col-md-6#run-report
      %h3= t('matching_report.header')
      %button
        = t('matching_report.button') 
