!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Evinrude'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Evinrude'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    #watermark
    %header
      = render 'layouts/navigation'
      .container
        .row
          .col-xs-6.col-md-3
            = image_tag 'oset_ttv_logo_color_transparent_160916.png', class: 'logo'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
